**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/obj
**/bin
**/.idea
**/TestResult
**/.env
**/.env.*

**/*.env.ps1
**/private-config
**/private-config*.zip
**/repository-before-cleanup*.zip
**/secret-values.json
